[Unit]
Description=Idle Script

[Service]
ExecStart=/bin/bash -c '/home/tach/prog/personalScript/ubuntuTools/screenControl/externScreenControl.sh'
Restart=always

[Install]
WantedBy=default.target