[Unit]
Description=Idle Script

[Service]
Type=simple
ExecStart=/home/tach/prog/personalScript/ubuntuTools/screenControl/externScreenControl.sh
Restart=on-failure
StandardOutput=file:%h/logs/services/idle_script.log

[Install]
WantedBy=default.target
